<%- include('partials/header') %>
    <nav class="filter">
        <form action="/post/" method="GET" class="filters-form">
            <select name="category_id" id="category-selector" class="category_id">
                <option value="" disabled selected>Select a Category</option>
                <% for (const category of categories) { %>
                <option value="<%= category.id %>"><%= category.name %></option>
                <% } %>
            </select>
            <select name="user_id" id="user-selector" class="user_id">
                <option value="" disabled selected>Select a User</option>
                <% for (const user of users) { %>
                <option value="<%= user.id %>"><%= user.username %></option>
                <% } %>
            </select>
            <select name="sort" id="order-selector" class="sort">
                <option value="" disabled selected>Sort by</option>
                <option value="LIKE|ASC">Least Liked</option>
                <option value="LIKE|DESC">Most Liked</option>
                <option value="DATE|DESC">Newest</option>
                <option value="DATE|ASC">Oldest</option>
            </select>
            <button type="submit">Go to Page</button>
            <button type="reset">Reset</button>
        </form>
    </nav>
    <section class="posts-section">
        <% if (!posts.length) { %>
        <p>No results</p>    
        <%} else {%>
        <% for (const post of posts) { %>
            <a href="<%= `/post/${post.id}` %>">
            <article class="blog-card">
            <figure class="blog-card-photo-section">
                
                    <img src="<%= post.image_url %>" alt="<%=`post ${post.id} thumbnail image`  %>" class="blog-card-photo" />
                
            </figure>
            <header class="blog-card-header">
            <div class="categories-container">
                <% for(const category of post.category_name.split(',')){%>
                    
                <div class="category-heading-span">
                    <h1 class="category-heading"><%= category %></h1>
                </div>
                <%}%>
            </div>
            <time class="published-date"><%= post.created_at %></time>
            <h2 class="blog-card-title"><%= post.title %></h2>
            </header>  
            <p class="likes"><%= post.total_likes %> likes</p>
            <footer class="blog-card-footer">
        <img
          src="<%= post.user_imageURL%>"
          alt="profile picture"
          class="profile-picture"
        />
        <figcaption class="account-name"><%= post.username%></figcaption>
      </footer>
           </article>
           </a>
        <% }} %>
    </section>
    <script>
        const url = new URL(window.location.href)
        url.searchParams.forEach((value, key) => {
            const selectOpt = document.querySelectorAll(`.${key} > option`)
            selectOpt.forEach(option => {
                if (option.value === value) {
                    option.selected = true;
                }
            })
        
        })
    </script>
</body> 
</html>