<%- include('partials/header')%>
    <% for(const card of cards) { %>
     <a href="/post/?<%= content%>=<%=card.id%>"><div class="card">
        <img src="<%= card.imageURL %>" alt="profile picture" style="width: 100px;">
        <h1><%= card.title %></h1>
     </div>
     </a>
    <% } %>
</body>
</html>